# DATA 1 Practical 5

Simos Gerasimou


## All You Need to Know About Google Play Store

**Google Play store** ([https://play.google.com/store?hl=en](https://play.google.com/store?hl=en)) is a digital distribution service operated and developed by Google. It serves as the official app store for the Android operating system, allowing users to browse and download applications developed with the Android software development kit (SDK) and published through Google. [Wikipedia](https://en.wikipedia.org/wiki/Google_Play).

**DataVision** has scraped the Google Play store  and acquired data for several Android applications. Since data from the Play Store apps has great potential to drive app-making businesses to success, DataVision wants to investigate whether any actionable insights can be drawn for developers to work on and capture the Android market!

#### Your tasks are to explore this dataset and generade some actionable knowledge. 


#### This Jupyter Notebook will be presented to  Google stakeholders who have limited knowledge about data science. So, your findings should be complemented by a suitable justification explaining what you observe and, when applicable, what does this observation  mean and, possibly, why it occurs.

* For each question (task) a description is provided accompanied (most of the time) by two cells: one for writing the Python code and another for providing the justification. Feel free to add more cells if you feel they are needed, but keep the cells corresponding to the same question close by.

(1) To answer these exercises, you **must first read Chapter 3: Dapa Manipulation with Pandas from the Python Data Science Handbook** (https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html)

(2) If you haven't already done so, complete the exercises on Pandas tutorial to become familiar with the library.

**Pandas API Reference**: https://pandas.pydata.org/pandas-docs/stable/reference/index.html

***

QUESTIONS I COULDNT DO

**********************************************************************

10, 11, 12, 21

**********************************************************************

### Part 1: Reading dataset

The Google dataset is available on VLE (look for googleplaystore.csv in the Practicals section)

Before doing the tasks below, you may want to explore the dataset using a spreadsheet editor (e.g., Excel) to get a high-level view of the dataset.

**T1) Load the Google Play Store dataset using Pandas**

**Note**: You have to download the dataset on your local machine and then load it onto the Jupyter Notebook

In [2]:
import pandas as pd 
import numpy as np

#Write your answer here
apps = pd.read_csv("googleplaystore.csv")

***

### Part 2: Cleaning and analysing the dataset

**T2i) Print the first 10 records of the dataframe**

In [3]:
#Write your answer here
apps.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

**T2ii) Print the last 3 records of the dataframe**

In [4]:
#Write your answer here
apps.tail(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1,2.2 and up
10837,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10838,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

**T3) Get general info about the dataset**

In [5]:
#Write your answer here
apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10839 entries, 0 to 10838
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10839 non-null  object
 1   Category        10839 non-null  object
 2   Rating          9365 non-null   float64
 3   Reviews         10839 non-null  int64
 4   Size            10839 non-null  object
 5   Installs        10839 non-null  object
 6   Type            10838 non-null  object
 7   Price           10839 non-null  object
 8   Content Rating  10839 non-null  object
 9   Genres          10839 non-null  object
 10  Last Updated    10839 non-null  object
 11  Current Ver     10831 non-null  object
 12  Android Ver     10837 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 635.2+ KB

**T4) Explore the dataset and try to understand the meaning of each column. For each column, write its meaning and its data type**

App - String - The title of the app in the app store

Category - String - The Category of the app store that the app is in

Rating - Float - The amount of stars the app has on average from reviews

Reviews - Integer - The amount of reviews the app has in total

Size - String - The amount of space the app takes up on a phone

Installs - Integer - The amount of times the app has been installed

Type - String - Whether the app is free or paid

Price - String - how much the app costs to download

Content Rating - String - What age range the app is appropriate from

Genres - String - What genres the app is a part of

Last Updated - String / Date - When the app was last Updated

Current Ver - String - What version the app is currently on

Android Ver - String - What minimum android version is required for the app to be installed

**T5) Get the shape of the dataframe**

In [6]:
#Write your answer here
apps.shape

(10839, 13)

**T6) Get the name of the columns for the dataframe**

In [7]:
#Write your answer here
apps.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

**T7) Do you think the columns (variables) need to be more readable? If so, rename them (e.g., suitable capitalisation, eliminate underscores, full words)**

In [8]:
#Write your answer here
apps.columns = ['app', 'category', 'rating', 'reviews', 'size', 'installs', 'type', 'price', 'contentRating', 'genres', 'lastUpdated', 'currentVersion', "androidVersion"]

apps.columns

Index(['app', 'category', 'rating', 'reviews', 'size', 'installs', 'type',
       'price', 'contentRating', 'genres', 'lastUpdated', 'currentVersion',
       'androidVersion'],
      dtype='object')

**T8) How many duplicated records exist?**

**Note**: A record is duplicated if all its entries are identical with another record

In [9]:
#Write your answer here
print(f"There are {apps.duplicated().sum()} duplicated records")

There are 483 duplicated records

**T9i) How many of the duplicated records refer to 'blood pressure' in their name?**

In [10]:
#Write your answer here
dupedApps = apps[(apps.duplicated())]
dupedApps['app'] = dupedApps['app'].str.lower()
dupedApps['app'][dupedApps['app'].str.contains('blood pressure')].count()

9

**T9ii) Print the records you found in task T9i**

In [11]:
#Write your answer here
dupedApps[dupedApps['app'].str.contains('blood pressure')]

,app,category,rating,reviews,size,installs,type,price,contentRating,genres,lastUpdated,currentVersion,androidVersion
2502,free blood pressure,MEDICAL,NaN,7,5.7M,"5,000+",Free,0,Everyone,Medical,"October 13, 2016",3.0.0,4.0.3 and up
2512,jh blood pressure monitor,MEDICAL,3.7,9,2.9M,500+,Free,0,Everyone,Medical,"July 21, 2018",1.1,4.0.3 and up
6584,ibp blood pressure,MEDICAL,4.4,578,704k,"10,000+",Paid,$0.99,Everyone,Medical,"November 30, 2014",7.0.1,2.2 and up
6585,blood pressure,MEDICAL,4.2,33033,7.4M,"5,000,000+",Free,0,Everyone,Medical,"July 24, 2018",3.27.3,4.1 and up
6590,blood pressure(bp) diary,MEDICAL,3.7,3596,8.4M,"1,000,000+",Free,0,Everyone,Medical,"July 18, 2018",4.0.9,4.0.3 and up
6593,bp journal - blood pressure diary,MEDICAL,5.0,6,26M,"1,000+",Free,0,Everyone,Medical,"May 25, 2018",1.0.32,4.4 and up
6594,blood pressure monitor,MEDICAL,4.3,17,6.0M,"10,000+",Free,0,Everyone,Medical,"February 25, 2017",1.0.1,4.4 and up
6595,blood pressure companion,MEDICAL,4.2,178,4.8M,"1,000+",Paid,$0.99,Everyone,Medical,"July 22, 2018",4.1.5 (Steglitz),4.1 and up
6598,free blood pressure,MEDICAL,NaN,7,5.7M,"5,000+",Free,0,Everyone,Medical,"October 13, 2016",3.0.0,4.0.3 and up

**T10) Let's look more closely into the dataset. Are there more duplicates?**

**Hint:** Check the duplicated function of Pandas to understand how the function operates. Do you need to specify what information to consider when checking for duplicates?

In [12]:
#Write your answer here
dupedApps = apps[(apps.duplicated(keep=False))]
dupedApps['app'] = dupedApps['app'].str.lower()
dupedApps[dupedApps['app'].str.contains('blood pressure')]

,app,category,rating,reviews,size,installs,type,price,contentRating,genres,lastUpdated,currentVersion,androidVersion
2244,ibp blood pressure,MEDICAL,4.4,578,704k,"10,000+",Paid,$0.99,Everyone,Medical,"November 30, 2014",7.0.1,2.2 and up
2275,blood pressure companion,MEDICAL,4.2,178,4.8M,"1,000+",Paid,$0.99,Everyone,Medical,"July 22, 2018",4.1.5 (Steglitz),4.1 and up
2310,blood pressure,MEDICAL,4.2,33033,7.4M,"5,000,000+",Free,0,Everyone,Medical,"July 24, 2018",3.27.3,4.1 and up
2356,free blood pressure,MEDICAL,NaN,7,5.7M,"5,000+",Free,0,Everyone,Medical,"October 13, 2016",3.0.0,4.0.3 and up
2426,jh blood pressure monitor,MEDICAL,3.7,9,2.9M,500+,Free,0,Everyone,Medical,"July 21, 2018",1.1,4.0.3 and up
2502,free blood pressure,MEDICAL,NaN,7,5.7M,"5,000+",Free,0,Everyone,Medical,"October 13, 2016",3.0.0,4.0.3 and up
2510,blood pressure(bp) diary,MEDICAL,3.7,3596,8.4M,"1,000,000+",Free,0,Everyone,Medical,"July 18, 2018",4.0.9,4.0.3 and up
2512,jh blood pressure monitor,MEDICAL,3.7,9,2.9M,500+,Free,0,Everyone,Medical,"July 21, 2018",1.1,4.0.3 and up
2525,blood pressure monitor,MEDICAL,4.3,17,6.0M,"10,000+",Free,0,Everyone,Medical,"February 25, 2017",1.0.1,4.4 and up
2527,bp journal - blood pressure diary,MEDICAL,5.0,6,26M,"1,000+",Free,0,Everyone,Medical,"May 25, 2018",1.0.32,4.4 and up
6584,ibp blood pressure,MEDICAL,4.4,578,704k,"10,000+",Paid,$0.99,Everyone,Medical,"November 30, 2014",7.0.1,2.2 and up
6585,blood pressure,MEDICAL,4.2,33033,7.4M,"5,000,000+",Free,0,Everyone,Medical,"July 24, 2018",3.27.3,4.1 and up
6590,blood pressure(bp) diary,MEDICAL,3.7,3596,8.4M,"1,000,000+",Free,0,Everyone,Medical,"July 18, 2018",4.0.9,4.0.3 and up
6593,bp journal - blood pressure diary,MEDICAL,5.0,6,26M,"1,000+",Free,0,Everyone,Medical,"May 25, 2018",1.0.32,4.4 and up
6594,blood pressure monitor,MEDICAL,4.3,17,6.0M,"10,000+",Free,0,Everyone,Medical,"February 25, 2017",1.0.1,4.4 and up
6595,blood pressure companion,MEDICAL,4.2,178,4.8M,"1,000+",Paid,$0.99,Everyone,Medical,"July 22, 2018",4.1.5 (Steglitz),4.1 and up
6598,free blood pressure,MEDICAL,NaN,7,5.7M,"5,000+",Free,0,Everyone,Medical,"October 13, 2016",3.0.0,4.0.3 and up

**T11) Find the app with the highest number of duplicated records and the number of duplicated records for this app**

**Hint:** How can you count the records of a dataframe?

In [13]:
#Write your answer here
dupedApps[dupedApps['app'].str.contains('blood pressure')].groupby("app").count().sort_values('category', ascending=False).head(1)

,category,rating,reviews,size,installs,type,price,contentRating,genres,lastUpdated,currentVersion,androidVersion
app,,,,,,,,,,,,
free blood pressure,3,0,3,3,3,3,3,3,3,3,3,3

**T12) Investigate the records for the app you found in task T10. What can you observe? Can you identiy the reason why the duplicate records exist?**

In [18]:
#Write your answer here
apps[apps['app']=="ROBLOX"]

,app,category,rating,reviews,size,installs,type,price,contentRating,genres,lastUpdated,currentVersion,androidVersion
1653,ROBLOX,GAME,4.5,4447388,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1701,ROBLOX,GAME,4.5,4447346,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1748,ROBLOX,GAME,4.5,4448791,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1841,ROBLOX,GAME,4.5,4449882,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
1870,ROBLOX,GAME,4.5,4449910,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2016,ROBLOX,FAMILY,4.5,4449910,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2088,ROBLOX,FAMILY,4.5,4450855,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
2206,ROBLOX,FAMILY,4.5,4450890,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up
4527,ROBLOX,FAMILY,4.5,4443407,67M,"100,000,000+",Free,0,Everyone 10+,Adventure;Action & Adventure,"July 31, 2018",2.347.225742,4.1 and up

**T13) Assuming that the data has been scaped sequentially, remove all duplicates by specifying which record to keep**

**Hint:** You may want to check the documentation of the drop_duplicates function

In [279]:
#Write your answer here
print(f"Number of apps incl. duplicates: {apps['app'].count()}")
cleanApps = apps.drop_duplicates(keep="last")
print(f"Number of apps excl. duplicates: {cleanApps['app'].count()}")

Number of apps incl. duplicates: 10839
Number of apps excl. duplicates: 10356

**T14i) Check the type of variable indicating the last timethe application was update and convert it into the appropriate format**

**Hint:** 

* You may want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

* Pay attention to the date format and the month type

* You may also want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

In [280]:
#Write your answer here
apps['lastUpdated'] = pd.to_datetime(apps['lastUpdated'])
apps['lastUpdated']

0       2018-01-07
1       2018-01-15
2       2018-08-01
3       2018-06-08
4       2018-06-20
           ...
10834   2017-07-25
10835   2018-07-06
10836   2017-01-20
10837   2015-01-19
10838   2018-07-25
Name: lastUpdated, Length: 10839, dtype: datetime64[ns]

**T14ii) Which application was updated least recently and when did this happen?**

In [281]:
#Write your answer here
mostRecentUpdatedApp = apps.sort_values('lastUpdated', ascending=False).head(1)
print(f"The most recently updated app is: {mostRecentUpdatedApp['app'].values[0]} which was updated on: {mostRecentUpdatedApp['lastUpdated'].values[0]}.")

The most recently updated app is: Video Downloader For FB: Save FB Videos 2018 which was updated on: 2018-08-08T00:00:00.000000000.

**T15) How many unique values exist under the Price variable? Print the first five unique prices.**

In [282]:
#Write your answer here
print(f"there are {apps['price'].nunique()} unique price values")
print('the first 5 unique prices: ')
apps['price'].unique()[:5]

there are 92 unique price values
the first 5 unique prices:

array(['0', '$4.99', '$3.99', '$6.99', '$1.49'], dtype=object)

**T16i) Write a function moneyWithoutCurrencySymbol that takes a string and returns the string as a float without the currency symbol (if exists)**

In [283]:
#Write your answer here
def moneyWithoutCurrencySymbol(inputString):
    if type(inputString)==str:
        if "$" in inputString:
            return float(inputString.replace('$', ""))
        else:
            return float(inputString)
    else:
        return inputString

**T16ii) Perform the necessary processing tasks to convert the Price variable into a float**

**Hint:**

* You may want to use the function from task T16i
* You may want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.apply.html
* Alternatively, you may want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html

In [284]:
#Write your answer here
apps['price'] = apps['price'].apply(moneyWithoutCurrencySymbol)
# apps['price'].dtype

**T17i) How many missing data exist for each variable? Is this a messy or a clean dataset?**

In [285]:
#Write your answer here
print("The amount of missing data per column:")
apps.isnull().sum()
print("The data set is quite clean")

The amount of missing data per column:
The data set is quite clean

**T17ii) Impute the categorical columns with the mode value**

**Hint:** Check Chapter 3 of the Python Data Science Handbook

In [286]:
#Write your answer here
categoricalTypes = ['type', 'currentVersion', 'androidVersion']
for i in categoricalTypes:
    modeVal = apps[i].mode().values[0]
    print(modeVal)
    apps[i].fillna(modeVal, inplace=True)

Free
Varies with device
4.1 and up

In [287]:
print("The amount of missing data per column:")
apps.isnull().sum()

The amount of missing data per column:

app                  0
category             0
rating            1474
reviews              0
size                 0
installs             0
type                 0
price                0
contentRating        0
genres               0
lastUpdated          0
currentVersion       0
androidVersion       0
dtype: int64

**T17iii) What would be an appropriate value to impute for the other variable? Apply the imputation.**

In [288]:
#Write your answer here
ratingMean = apps['rating'].mean()
apps['rating'].fillna(ratingMean, inplace=True)

In [289]:
print("The amount of missing data per column:")
apps.isnull().sum()

The amount of missing data per column:

app               0
category          0
rating            0
reviews           0
size              0
installs          0
type              0
price             0
contentRating     0
genres            0
lastUpdated       0
currentVersion    0
androidVersion    0
dtype: int64

**T18i) Which are the possible values for the variable Installs?**

In [290]:
#Write your answer here
print("The possible values for the variables installs are: ")
apps['installs'].unique()

The possible values for the variables installs are:

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

**T18ii) Based on the result from task T18i, do you see any odd value? Do think any cleaning is needed?**

#Write your answer here

0 should be replaced with 0+

In [291]:
apps['installs'].replace({'0':'0+'}, inplace=True)

**T18iii) If you did any cleaning in task T18ii, check that the cleaning has taken place**

In [292]:
#Write your answer here
apps['installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+'], dtype=object)

**T19i) Perform the necessary processing tasks to convert the Size variable into a float using a common metric (i.e., which will enable to compare records between each other using the size value). Set records whose value is "Varies with device" to 1**

In [293]:
#Write your answer here
apps['size'].replace({'Varies with device':1.0}, inplace=True)
apps['size'].dtype

def convertSize(inputSize):
    if type(inputSize)==float:
        return inputSize
    elif type(inputSize)==int:
        return float(inputSize)
    elif type(inputSize)==str:
        sizeClass = inputSize[-1:]
        inputSize = inputSize[:-1]
        if sizeClass.lower() == "k":
            return float(inputSize)*1000
        elif sizeClass.lower() == "m":
            return float(inputSize)*1000*1000
        elif sizeClass.lower() == "g":
            return float(inputSize)*1000*1000*1000
        else:
            print("UNKNOWN SIZE CLASS : " + sizeClass)
            raise ValueError
    else:
        print("UNKNOWN TYPE INPUT:", type(inputSize))
        raise TypeError

apps['size'] = apps['size'].apply(convertSize)
print("The size of each app in bytes with apps where it varies by device, size=1")
apps['size']

The size of each app in bytes with apps where it varies by device, size=1

0        19000000.0
1        14000000.0
2         8700000.0
3        25000000.0
4         2800000.0
            ...
10834    53000000.0
10835     3600000.0
10836     9500000.0
10837           1.0
10838    19000000.0
Name: size, Length: 10839, dtype: float64

**T19ii) Which is the smallest application and what is its size?**

In [294]:
#Write your answer here
print("the smallest app:")
apps[apps['size']!=1.0].min()

the smallest app:

app               "i DT" Fútbol. Todos Somos Técnicos.
category                                ART_AND_DESIGN
rating                                             1.0
reviews                                              0
size                                            8500.0
installs                                            0+
type                                              Free
price                                              0.0
contentRating                          Adults only 18+
genres                                          Action
lastUpdated                        2011-01-30 00:00:00
currentVersion                                 0.0.0.2
androidVersion                              1.0 and up
dtype: object

**T19iii) What is the most common Category of the largest applications and which applications belong to this Category?**

In [295]:
#Write your answer here
modeCategory = apps['category'].mode().values[0]
print(f"the most common category is: {modeCategory} which has these apps:")
apps[apps['category']==modeCategory]

the most common category is: FAMILY which has these apps:

,app,category,rating,reviews,size,installs,type,price,contentRating,genres,lastUpdated,currentVersion,androidVersion
2014,YouTube Kids,FAMILY,4.500000,470694,1.0,"50,000,000+",Free,0.0,Everyone,Entertainment;Music & Video,2018-08-03,3.43.3,4.1 and up
2015,Candy Bomb,FAMILY,4.400000,42145,20000000.0,"10,000,000+",Free,0.0,Everyone,Casual;Brain Games,2018-07-04,2.9.3181,4.0.3 and up
2016,ROBLOX,FAMILY,4.500000,4449910,67000000.0,"100,000,000+",Free,0.0,Everyone 10+,Adventure;Action & Adventure,2018-07-31,2.347.225742,4.1 and up
2017,Jewels Crush- Match 3 Puzzle,FAMILY,4.400000,14774,19000000.0,"1,000,000+",Free,0.0,Everyone,Casual;Brain Games,2018-07-23,1.9.3901,4.0.3 and up
2018,Coloring & Learn,FAMILY,4.400000,12753,51000000.0,"5,000,000+",Free,0.0,Everyone,Educational;Creativity,2018-07-17,1.49,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10819,Poop FR,FAMILY,4.191757,6,2500000.0,50+,Free,0.0,Everyone,Entertainment,2018-05-29,1,4.0.3 and up
10825,Fr Agnel Ambarnath,FAMILY,4.200000,117,13000000.0,"5,000+",Free,0.0,Everyone,Education,2018-06-13,2.0.20,4.0.3 and up
10832,FR Calculator,FAMILY,4.000000,7,2600000.0,500+,Free,0.0,Everyone,Education,2017-06-18,1.0.0,4.1 and up
10834,Sya9a Maroc - FR,FAMILY,4.500000,38,53000000.0,"5,000+",Free,0.0,Everyone,Education,2017-07-25,1.48,4.1 and up
10835,Fr. Mike Schmitz Audio Teachings,FAMILY,5.000000,4,3600000.0,100+,Free,0.0,Everyone,Education,2018-07-06,1,4.1 and up

**T20) Are there any logical errors in the Type and Price variables? Are there any applications whose type if Free and you have to pay? Are there any application with type Paid which you can get for free? Check the integrity of the dataset using these conditions**

In [296]:
#Write your answer here
print("apps with logical errors in the price and type columns:")
apps[['app', 'price', 'type']][(((apps['price']==0.0) & (apps['type']=="Paid")) | ((apps['price']>0.0) & (apps['type']=="Free")))]

apps with logical errors in the price and type columns:

Empty DataFrame
Columns: [app, price, type]
Index: []

**T21) A reviewer of an application may or may not rate the review. Check the consistency of the dataset concerning this matter**

#Write your answer here

???

**T22) Get some descriptive statistics for the dataset**

In [297]:
#Write your answer here
apps.describe()

             rating       reviews          size         price
count  10839.000000  1.083900e+04  1.083900e+04  10839.000000
mean       4.191757  4.441937e+05  1.815375e+07      1.027463
std        0.478929  2.927893e+06  2.217096e+07     15.950436
min        1.000000  0.000000e+00  1.000000e+00      0.000000
25%        4.100000  3.800000e+01  2.600000e+06      0.000000
50%        4.200000  2.094000e+03  9.200000e+06      0.000000
75%        4.500000  5.478300e+04  2.600000e+07      0.000000
max        5.000000  7.815831e+07  1.000000e+08    400.000000

**T23) Create a new column that indicates the difference between the Last Updated variable column and the current date.**

In [298]:
#Write your answer here
apps['timeSinceLastUpdated'] = pd.to_datetime('today') - apps['lastUpdated']
apps['timeSinceLastUpdated']

0       1136 days 17:35:12.895912
1       1128 days 17:35:12.895912
2        930 days 17:35:12.895912
3        984 days 17:35:12.895912
4        972 days 17:35:12.895912
                   ...
10834   1302 days 17:35:12.895912
10835    956 days 17:35:12.895912
10836   1488 days 17:35:12.895912
10837   2220 days 17:35:12.895912
10838    937 days 17:35:12.895912
Name: timeSinceLastUpdated, Length: 10839, dtype: timedelta64[ns]

**T24) (Funny) What is weird about the most expensive appslications which are at or above the 99.9th percentile?**

In [299]:
#Write your answer here
percentile999 = apps['price'].quantile(0.999)
apps[apps['price']>percentile999]

,app,category,rating,reviews,size,installs,type,price,contentRating,genres,lastUpdated,currentVersion,androidVersion,timeSinceLastUpdated
4367,I'm Rich - Trump Edition,LIFESTYLE,3.6,275,7300000.0,"10,000+",Paid,400.0,Everyone,Lifestyle,2018-05-03,1.0.1,4.1 and up,1020 days 17:35:12.895912

### Should you finish earlier/want to practice at home, you could

* Check that the Price variable does not have logical error (values below 0)
* Check that the values of Rating variable is within the limits [0,5]
* Any other analysis that you might could generate some useful insight.