# DATA 1 Practical 4

Simos Gerasimou


## Internet Movie Database Exploration and Analysis

**IMDB** ([http://imdb.com](http://imdb.com)) is an online database of information related to films, television programs, home videos, video games, and streaming content online – including cast, production crew and personal biographies, plot summaries, trivia, fan and critical reviews, and ratings. You can find more information at [Wikipedia](https://en.wikipedia.org/wiki/IMDb).

**DataVision** has scraped the website and acquired data for a wide number of movies from IMDB. The company wants to analyse this data to extract insights from its products and answer questions including:
* the most successful movies, directors, actors
* patterns that might lead to predicting successful movies in the future

#### Your tasks are to explore this dataset and generade some actionable knowledge. 


#### This Jupyter Notebook will be presented to the Warner Bros main stakeholders who have limited knowledge about data science. So, your findings should be complemented by a suitable justification explaining what you observe and, when applicable, what does this observation  mean and, possibly, why it occurs.

* For each question (task) a description is provided accompanied (most of the time) by two cells: one for writing the Python code and another for providing the justification. Feel free to add more cells if you feel they are needed, but keep the cells corresponding to the same question close by.

### **Important Information**

(1) To answer these exercises, you **must first read Chapter 3: Dapa Manipulation with Pandas from the Python Data Science Handbook** (https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html)

(2) If you haven't already done so, complete the exercises on Pandas tutorial to become familiar with the library.

**Pandas API Reference**: https://pandas.pydata.org/pandas-docs/stable/reference/index.html

***

### Part 1: Reading dataset

The IMDB dataset is available on VLE (look for IMDB-Movie-Data-Filtered.csv in the Practicals section)

**T1) Load the IMDB dataset using Pandas**

**Note**: You have to download the dataset on your local machine and then load it onto the Jupyter Notebook

In [22]:
import pandas as pd 
datasetName = "IMDB-Movie-Data-Filtered.csv"
movies = pd.read_csv(datasetName)

***

### Part 2: Cleaning the dataset

**T2) Print (i) the first and (ii) the last five records of the dataframe**

In [23]:
# Write your answer here
movies.head()

,color,director_name,num_critic_for_reviews,duration,actor_2_name,gross,genres,actor_1_name,movie_title,num_voted_users,...,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,imdb_score,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,Joel David Moore,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,...,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,7.9,33000
1,Color,Gore Verbinski,302.0,169.0,Orlando Bloom,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,...,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,7.1,0
2,Color,Sam Mendes,602.0,148.0,Rory Kinnear,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,...,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,245000000.0,2015.0,6.8,85000
3,Color,Christopher Nolan,813.0,164.0,Christian Bale,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,...,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13,250000000.0,2012.0,8.5,164000
4,Color,Andrew Stanton,462.0,132.0,Samantha Morton,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,...,alien|american civil war|male nipple|mars|prin...,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,738.0,English,USA,PG-13,263700000.0,2012.0,6.6,24000

In [24]:
# Write your answer here
movies.tail()

,color,director_name,num_critic_for_reviews,duration,actor_2_name,gross,genres,actor_1_name,movie_title,num_voted_users,...,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,imdb_score,movie_facebook_likes
3804,Color,Shane Carruth,143.0,77.0,David Sullivan,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,...,changing the future|independent film|invention...,http://www.imdb.com/title/tt0390384/?ref_=fn_t...,371.0,English,USA,PG-13,7000.0,2004.0,7.0,19000
3805,Color,Neill Dela Llana,35.0,80.0,Edgar Tancangco,70071.0,Thriller,Ian Gamazon,Cavite,589,...,jihad|mindanao|philippines|security guard|squa...,http://www.imdb.com/title/tt0428303/?ref_=fn_t...,35.0,English,Philippines,Not Rated,7000.0,2005.0,6.3,74
3806,Color,Robert Rodriguez,56.0,81.0,Peter Marquardt,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,...,assassin|death|guitar|gun|mariachi,http://www.imdb.com/title/tt0104815/?ref_=fn_t...,130.0,Spanish,USA,R,7000.0,1992.0,6.9,0
3807,Color,Edward Burns,14.0,95.0,Caitlin FitzGerald,4584.0,Comedy|Drama,Kerry Bishé,Newlyweds,1338,...,written and directed by cast member,http://www.imdb.com/title/tt1880418/?ref_=fn_t...,14.0,English,USA,Not Rated,9000.0,2011.0,6.4,413
3808,Color,Jon Gunn,43.0,90.0,Brian Herzlinger,85222.0,Documentary,John August,My Date with Drew,4285,...,actress name in title|crush|date|four word tit...,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,84.0,English,USA,PG,1100.0,2004.0,6.6,456

**T3) Get general info about the dataset**

In [25]:
# Write your answer here
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3809 entries, 0 to 3808
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   3809 non-null   object
 1   director_name           3809 non-null   object
 2   num_critic_for_reviews  3809 non-null   float64
 3   duration                3809 non-null   float64
 4   actor_2_name            3809 non-null   object
 5   gross                   3809 non-null   float64
 6   genres                  3809 non-null   object
 7   actor_1_name            3809 non-null   object
 8   movie_title             3809 non-null   object
 9   num_voted_users         3809 non-null   int64
 10  actor_3_name            3809 non-null   object
 11  plot_keywords           3809 non-null   object
 12  movie_imdb_link         3809 non-null   object
 13  num_user_for_reviews    3809 non-null   float64
 14  language                3809 non-null   object
 15  country                 3809 non-null   object
 16  content_rating          3809 non-null   object
 17  budget                  3809 non-null   float64
 18  title_year              3809 non-null   float64
 19  imdb_score              3809 non-null   float64
 20  movie_facebook_likes    3809 non-null   int64
dtypes: float64(7), int64(2), object(12)
memory usage: 446.4+ KB

**T4) Explore the dataset and try to understand the meaning of each column. For each column, write its meaning and its data type. Also, which columns might be irrelevant?**

The imdb link is irrelevant, the facebook likes and plot keywords are irrelevant

**T5) Get the shape of the dataframe**

In [26]:
# Write your answer here
movies.shape

(3809, 21)

**T6) Get the name of the columns of the dataframe**

In [27]:
# Write your answer here
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'actor_2_name', 'gross', 'genres', 'actor_1_name', 'movie_title',
       'num_voted_users', 'actor_3_name', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'imdb_score', 'movie_facebook_likes'],
      dtype='object')

**T7) Give more readable names to the columns with suitable capitalisation and eliminating underscores ("_")**

In [28]:
# Write your answer here
movies.rename(columns = {"director_name":"directorName", "num_critic_for_reviews":"numCriticForReviews", "actor_1_name":"actor1", "actor_2_name":"actor2", "actor_3_name":'actor3', 'movie_title':'movieTitle', 'num_voted_users':'numVotedUsers', 'plot_keywords':'plotKeywords', 'movie_imdb_link':'imdbLink', 'content_rating':'contentRating', 'num_user_for_reviews':'numUserForReviews', 'title_year':'titleYear', 'imdb_score':'imdbScore', 'movie_facebook_likes':'movieFacebookLikes'}, inplace=True)
movies.columns

Index(['color', 'directorName', 'numCriticForReviews', 'duration', 'actor2',
       'gross', 'genres', 'actor1', 'movieTitle', 'numVotedUsers', 'actor3',
       'plotKeywords', 'imdbLink', 'numUserForReviews', 'language', 'country',
       'contentRating', 'budget', 'titleYear', 'imdbScore',
       'movieFacebookLikes'],
      dtype='object')

**T8) Find and print the duplicated records**

**Note**: A record is duplicated if all its entries are identical with another record

In [29]:
# Write your answer here
print(movies[movies.duplicated()])

                 color          directorName  numCriticForReviews  duration  \
133              Color           David Yates                248.0     110.0
182              Color           Bill Condon                322.0     115.0
292              Color            Joe Wright                256.0     111.0
377              Color            Josh Trank                369.0     100.0
383              Color             Rob Cohen                187.0     106.0
565              Color          Brett Ratner                245.0     101.0
627              Color        Paul Verhoeven                196.0     113.0
758              Color           Joss Whedon                703.0     173.0
1155             Color   Angelina Jolie Pitt                322.0     137.0
1237             Color         Paul McGuigan                159.0     110.0
1369             Color         Albert Hughes                208.0     122.0
1910             Color           Andy Cadiff                 65.0     101.0
2005             Color         Paul McGuigan                 98.0     114.0
2115             Color              Frank Oz                168.0      87.0
2272   Black and White           Yimou Zhang                283.0      80.0
2305             Color           Neil Burger                236.0     110.0
2332             Color             Jon Lucas                 81.0     100.0
2338             Color         Vic Armstrong                169.0     110.0
2377             Color        John Carpenter                318.0     101.0
2505             Color          Ole Bornedal                264.0      92.0
2509             Color        Stephen Frears                 51.0     119.0
2526             Color            Shawn Levy                 69.0      88.0
2674             Color      John Lee Hancock                106.0     137.0
2788             Color           Guy Ritchie                151.0     104.0
2941             Color          Herbert Ross                 60.0     107.0
3012             Color           Paul Haggis                287.0     115.0
3034             Color  Michael Winterbottom                 71.0     115.0
3208             Color      Tim Blake Nelson                 92.0      95.0
3310             Color            Wes Craven                160.0     107.0
3445             Color            Rob Zombie                220.0     119.0
3496             Color       Kenneth Branagh                 85.0     150.0
3510             Color       Bruce McCulloch                 52.0      85.0
3616             Color        Peter Cattaneo                122.0      91.0
3645             Color           Danny Boyle                393.0     101.0
3714             Color           Tamra Davis                111.0      93.0

                   actor2        gross                                 genres  \
133   Alexander Skarsgård  124051759.0         Action|Adventure|Drama|Romance
182       Kristen Stewart  292298923.0        Adventure|Drama|Fantasy|Romance
292       Cara Delevingne   34964818.0               Adventure|Family|Fantasy
377         Reg E. Cathey   56114221.0                Action|Adventure|Sci-Fi
383            Vin Diesel  144512310.0                  Action|Crime|Thriller
565          Rufus Sewell   72660029.0                       Action|Adventure
627        Rachel Ticotin  119412921.0                          Action|Sci-Fi
758     Robert Downey Jr.  623279547.0                Action|Adventure|Sci-Fi
1155       Jack O'Connell  115603980.0              Biography|Drama|Sport|War
1237      Spencer Wilding    5773519.0           Drama|Horror|Sci-Fi|Thriller
1369        Jason Flemyng   31598308.0                Horror|Mystery|Thriller
1910          Stark Sands   12189514.0                         Comedy|Romance
2005  Christopher Cousins   12831121.0         Drama|Mystery|Romance|Thriller
2115         Ewen Bremner    8579684.0                                 Comedy
2272  Tony Chiu Wai Leung      84961.0               Action|Adventure|History
2305         Eddie Marsan   39825798.0         Drama|Mystery|Romance|Thriller
2332        Jay Hernandez   55461307.0                                 Comedy
2338         Lea Thompson   13998282.0  Action|Drama|Fantasy|Mystery|Thriller
2377     Donald Pleasence   47000000.0                        Horror|Thriller
2505    Madison Davenport   49122319.0                        Horror|Thriller
2509        Peter Capaldi   34700000.0                          Drama|Romance
2526        Donald Faison   47811275.0                Adventure|Comedy|Family
2674          Marc Blucas   22406362.0              Drama|History|War|Western
2788            Brad Pitt   30093107.0                           Comedy|Crime
2941           Chris Penn   80000000.0                    Drama|Music|Romance
3012       Loretta Devine   54557348.0                   Crime|Drama|Thriller
3034         Sarah Polley     403932.0                  Drama|Romance|Western
3208        Andrew Keegan   16017403.0                 Drama|Romance|Thriller
3310          Emily Meade   14637490.0                Horror|Mystery|Thriller
3445           Tyler Mane   33386128.0                                 Horror
3496        Brian Blessed    4414535.0                                  Drama
3510       Megan Mullally   13973532.0                           Comedy|Crime
3616            Mark Addy   45857453.0                     Comedy|Drama|Music
3645      Spencer Wilding    2319187.0           Crime|Drama|Mystery|Thriller
3714    Katherine Boecher   37188667.0                           Comedy|Drama

                    actor1                                  movieTitle  \
133        Christoph Waltz                       The Legend of Tarzan
182       Robert Pattinson  The Twilight Saga: Breaking Dawn - Part 2
292           Hugh Jackman                                        Pan
377       Tim Blake Nelson                             Fantastic Four
383            Paul Walker                   The Fast and the Furious
565         Dwayne Johnson                                   Hercules
627              Ronny Cox                               Total Recall
758        Chris Hemsworth                               The Avengers
1155         Finn Wittrock                                   Unbroken
1237      Daniel Radcliffe                        Victor Frankenstein
1369           Johnny Depp                                  From Hell
1910     Annabella Sciorra                            Chasing Liberty
2005          Jessica Paré                                Wicker Park
2115        Peter Dinklage                         Death at a Funeral
2272                Jet Li                                       Hero
2305          Rufus Sewell                            The Illusionist
2332            Mila Kunis                                   Bad Moms
2338          Nicolas Cage                                Left Behind
2377      Jamie Lee Curtis                                  Halloween
2505         Kyra Sedgwick                             The Possession
2509          Keanu Reeves                         Dangerous Liaisons
2526         Frankie Muniz                               Big Fat Liar
2674          Dennis Quaid                                  The Alamo
2788         Jason Statham                                     Snatch
2941          Dianne Wiest                                  Footloose
3012           Don Cheadle                                      Crash
3034        Milla Jovovich                                  The Claim
3208          Mekhi Phifer                                          O
3310          Frank Grillo                            My Soul to Take
3445  Scout Taylor-Compton                               Halloween II
3496        Julie Christie                                     Hamlet
3510          Martin Starr                           Stealing Harvard
3616         Tom Wilkinson                             The Full Monty
3645        Rosario Dawson                                     Trance
3714        Britney Spears                                 Crossroads

      numVotedUsers  ...                                       plotKeywords  \
133           42372  ...  africa|capture|jungle|male objectification|tarzan
182          185394  ...        battle|friend|super strength|vampire|vision
292           39956  ...  1940s|child hero|fantasy world|orphan|referenc...
377          110486  ...  box office flop|critically bashed|portal|telep...
383          272223  ...  eighteen wheeler|illegal street racing|truck|t...
565          115687  ...       army|greek mythology|hercules|king|mercenary
627          240241  ...  ambiguous ending|false memory|implanted memory...
758          995415  ...    alien invasion|assassin|battle|iron man|soldier
1155         103589  ...  emaciation|male nudity|plane crash|prisoner of...
1237          28618  ...  assistant|experiment|frankenstein|medical stud...
1369         124765  ...  freemason|jack the ripper|opium|prostitute|vic...
1910          30092  ...  first daughter|photographer|prague|president|s...
2005          44979  ...  flashback|flashback within a flashback|multipl...
2115          89547  ...  end credits roll call|four word title|funeral|...
2272         149414  ...                     china|flying|king|palace|sword
2305         295375  ...  duchess|illusionist|magician|prince|supernatur...
2332           4654  ...  lesbian kiss|mom|pta|reference to mad max|scen...
2338          24854  ...                bible quote|chaos|faith|riot|shrine
2377         157857  ...  halloween|masked killer|michael myers|slasher|...
2505          47169  ...        basketball coach|box|jewish|rabbi|yard sale
2509          52846  ...  catholic|corruption|emotional abuse|france|sed...
2526          29008  ...            brunette|film producer|liar|prank|stunt
2674          16832  ...                  army|dictator|general|texan|texas
2788         600996  ...                   boxer|boxing|diamond|fight|gypsy
2941          51459  ...  church|cowboy boots|dancing|high school dance|...
3012         361169  ...  race relations|racism|racist|social problem|st...
3034           5254  ...             gold|gold mine|miner|railroad|surveyor
3208          17333  ...  basketball|basketball player|boarding school|l...
3310          16411  ...        evil|killer|murder|psychopath|serial killer
3445          36372  ...  halloween|hospital|michael myers|rampage|vomiting
3496          30618  ...  classic literature|denmark|funeral|madness|prince
3510          11211  ...  black humor|crying during sex|harvard|humor|ma...
3616          82232  ...  dole|male stripper|northern england|steel work...
3645          92640  ...  amnesia|criminal|heist|hypnotherapy|lost painting
3714          34219  ...  audition|friendship|graduation|high school gra...

                                               imdbLink numUserForReviews  \
133   http://www.imdb.com/title/tt0918940/?ref_=fn_t...             239.0
182   http://www.imdb.com/title/tt1673434/?ref_=fn_t...             329.0
292   http://www.imdb.com/title/tt3332064/?ref_=fn_t...             186.0
377   http://www.imdb.com/title/tt1502712/?ref_=fn_t...             695.0
383   http://www.imdb.com/title/tt0232500/?ref_=fn_t...             988.0
565   http://www.imdb.com/title/tt1267297/?ref_=fn_t...             269.0
627   http://www.imdb.com/title/tt0100802/?ref_=fn_t...             391.0
758   http://www.imdb.com/title/tt0848228/?ref_=fn_t...            1722.0
1155  http://www.imdb.com/title/tt1809398/?ref_=fn_t...             351.0
1237  http://www.imdb.com/title/tt1976009/?ref_=fn_t...              91.0
1369  http://www.imdb.com/title/tt0120681/?ref_=fn_t...             541.0
1910  http://www.imdb.com/title/tt0360139/?ref_=fn_t...             129.0
2005  http://www.imdb.com/title/tt0324554/?ref_=fn_t...             298.0
2115  http://www.imdb.com/title/tt0795368/?ref_=fn_t...             199.0
2272  http://www.imdb.com/title/tt0299977/?ref_=fn_t...             841.0
2305  http://www.imdb.com/title/tt0443543/?ref_=fn_t...             645.0
2332  http://www.imdb.com/title/tt4651520/?ref_=fn_t...              46.0
2338  http://www.imdb.com/title/tt2467046/?ref_=fn_t...             374.0
2377  http://www.imdb.com/title/tt0077651/?ref_=fn_t...            1191.0
2505  http://www.imdb.com/title/tt0431021/?ref_=fn_t...             162.0
2509  http://www.imdb.com/title/tt0094947/?ref_=fn_t...             143.0
2526  http://www.imdb.com/title/tt0265298/?ref_=fn_t...              99.0
2674  http://www.imdb.com/title/tt0318974/?ref_=fn_t...             267.0
2788  http://www.imdb.com/title/tt0208092/?ref_=fn_t...             726.0
2941  http://www.imdb.com/title/tt0087277/?ref_=fn_t...             113.0
3012  http://www.imdb.com/title/tt0375679/?ref_=fn_t...            1624.0
3034  http://www.imdb.com/title/tt0218378/?ref_=fn_t...              92.0
3208  http://www.imdb.com/title/tt0184791/?ref_=fn_t...             153.0
3310  http://www.imdb.com/title/tt0872230/?ref_=fn_t...             136.0
3445  http://www.imdb.com/title/tt1311067/?ref_=fn_t...             491.0
3496  http://www.imdb.com/title/tt0116477/?ref_=fn_t...             224.0
3510  http://www.imdb.com/title/tt0265808/?ref_=fn_t...              92.0
3616  http://www.imdb.com/title/tt0119164/?ref_=fn_t...             174.0
3645  http://www.imdb.com/title/tt1924429/?ref_=fn_t...             212.0
3714  http://www.imdb.com/title/tt0275022/?ref_=fn_t...             578.0

      language  country contentRating       budget  titleYear  imdbScore  \
133    English      USA         PG-13  180000000.0     2016.0        6.6
182    English      USA         PG-13  120000000.0     2012.0        5.5
292    English      USA            PG  150000000.0     2015.0        5.8
377    English      USA         PG-13  120000000.0     2015.0        4.3
383    English      USA         PG-13   38000000.0     2001.0        6.7
565    English      USA         PG-13  100000000.0     2014.0        6.0
627    English      USA             R   65000000.0     1990.0        7.5
758    English      USA         PG-13  220000000.0     2012.0        8.1
1155   English      USA         PG-13   65000000.0     2014.0        7.2
1237   English      USA         PG-13   40000000.0     2015.0        6.0
1369   English      USA             R   35000000.0     2001.0        6.8
1910   English      USA         PG-13   23000000.0     2004.0        6.1
2005   English      USA         PG-13   30000000.0     2004.0        7.0
2115   English      USA             R    9000000.0     2007.0        7.4
2272  Mandarin    China         PG-13   31000000.0     2002.0        7.9
2305   English      USA         PG-13   16000000.0     2006.0        7.6
2332   English      USA             R   20000000.0     2016.0        6.7
2338   English      USA         PG-13   16000000.0     2014.0        3.1
2377   English      USA             R     300000.0     1978.0        7.9
2505   English      USA         PG-13   14000000.0     2012.0        5.9
2509   English      USA             R   14000000.0     1988.0        7.7
2526   English      USA            PG   15000000.0     2002.0        5.4
2674   English      USA         PG-13  107000000.0     2004.0        6.0
2788   English       UK             R    6000000.0     2000.0        8.3
2941   English      USA            PG    8200000.0     1984.0        6.5
3012   English  Germany             R    6500000.0     2004.0        7.9
3034   English       UK             R   20000000.0     2000.0        6.5
3208   English      USA             R    5000000.0     2001.0        6.2
3310   English      USA             R   25000000.0     2010.0        4.8
3445   English      USA             R   15000000.0     2009.0        4.9
3496   English       UK         PG-13   18000000.0     1996.0        7.8
3510   English      USA         PG-13   25000000.0     2002.0        5.1
3616   English       UK             R    3500000.0     1997.0        7.2
3645   English       UK             R   20000000.0     2013.0        7.0
3714   English      USA         PG-13   12000000.0     2002.0        3.3

      movieFacebookLikes
133                29000
182                65000
292                24000
377                41000
383                14000
565                21000
627                    0
758               123000
1155               35000
1237               11000
1369                   0
1910                   0
2005                   0
2115                   0
2272                   0
2305               15000
2332               18000
2338               31000
2377               12000
2505               17000
2509                   0
2526                 896
2674                 701
2788               27000
2941                   0
3012               18000
3034                 141
3208                   0
3310                   0
3445                3000
3496                   0
3510                 215
3616                   0
3645               23000
3714                   0

[35 rows x 21 columns]

**T9) Remove all duplicates**

In [30]:
# Write your answer here
print(len(movies))
movies.drop_duplicates(inplace=True)
print(len(movies))

3809
3774

***

### Part 3: Analysing the dataset

**T10)  Get some descriptive statistics for the dataset**

In [31]:
# Write your answer here
movies.describe()

,numCriticForReviews,duration,gross,numVotedUsers,numUserForReviews,budget,titleYear,imdbScore,movieFacebookLikes
count,3774.000000,3774.000000,3.774000e+03,3.774000e+03,3774.000000,3.774000e+03,3774.000000,3774.000000,3774.000000
mean,165.626391,110.085056,5.196059e+07,1.043776e+05,332.372814,4.576120e+07,2003.015368,6.462666,9249.777954
std,123.676886,22.652983,6.967338e+07,1.512196e+05,410.023180,2.254778e+08,9.890751,1.054046,21459.205923
min,2.000000,37.000000,1.620000e+02,4.800000e+01,2.000000,2.180000e+02,1927.000000,1.600000,0.000000
25%,75.000000,95.000000,7.743569e+06,1.865775e+04,106.000000,1.000000e+07,1999.000000,5.900000,0.000000
50%,137.000000,106.000000,2.911016e+07,5.290100e+04,207.000000,2.500000e+07,2005.000000,6.600000,218.000000
75%,223.000000,120.000000,6.648315e+07,1.269035e+05,395.000000,5.000000e+07,2010.000000,7.200000,11000.000000
max,813.000000,330.000000,7.605058e+08,1.689764e+06,5060.000000,1.221550e+10,2016.000000,9.300000,349000.000000

**T11)  For each movie, print its title, director and three main actors**

In [32]:
# Write your answer here
movies[["movieTitle", "directorName", "actor1", "actor2", "actor3"]]

,movieTitle,directorName,actor1,actor2,actor3
0,Avatar,James Cameron,CCH Pounder,Joel David Moore,Wes Studi
1,Pirates of the Caribbean: At World's End,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport
2,Spectre,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman
3,The Dark Knight Rises,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt
4,John Carter,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker
...,...,...,...,...,...
3804,Primer,Shane Carruth,Shane Carruth,David Sullivan,Casey Gooden
3805,Cavite,Neill Dela Llana,Ian Gamazon,Edgar Tancangco,Quynn Ton
3806,El Mariachi,Robert Rodriguez,Carlos Gallardo,Peter Marquardt,Consuelo Gómez
3807,Newlyweds,Edward Burns,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda
3808,My Date with Drew,Jon Gunn,John August,Brian Herzlinger,Jon Gunn

**T12)  Find the movies with the shortest and longest duration, respectively. What are your observations?**

In [33]:
# Write your answer here
movies[(movies['duration']==movies['duration'].max()) | (movies['duration']==movies['duration'].min())]

,color,directorName,numCriticForReviews,duration,actor2,gross,genres,actor1,movieTitle,numVotedUsers,...,plotKeywords,imdbLink,numUserForReviews,language,country,contentRating,budget,titleYear,imdbScore,movieFacebookLikes
1416,Color,Taylor Hackford,12.0,330.0,Jesse Borrego,4496583.0,Crime|Drama,Delroy Lindo,"Blood In, Blood Out",23181,...,1970s|1980s|barrio|gang war|mexican,http://www.imdb.com/title/tt0106469/?ref_=fn_t...,129.0,English,USA,R,35000000.0,1993.0,8.0,6000
3359,Color,Sam Raimi,252.0,37.0,Dan Hicks,5923044.0,Comedy|Fantasy|Horror|Thriller,Ted Raimi,Evil Dead II,113451,...,cabin|cabin in the woods|demon|evil dead|woods,http://www.imdb.com/title/tt0092991/?ref_=fn_t...,537.0,English,USA,X,3600000.0,1987.0,7.8,0

**T13)  Find the countries in which at least one movie has been recorded**

In [34]:
# Write your answer here
movies['country'].unique()

array(['USA', 'UK', 'New Zealand', 'Canada', 'Australia', 'Germany',
       'China', 'New Line', 'France', 'Japan', 'Spain', 'Hong Kong',
       'Czech Republic', 'Peru', 'South Korea', 'Aruba', 'Denmark',
       'Ireland', 'South Africa', 'Italy', 'Romania', 'Chile',
       'Netherlands', 'Hungary', 'Russia', 'Belgium', 'Greece', 'Taiwan',
       'Official site', 'Thailand', 'Iran', 'West Germany', 'Georgia',
       'India', 'Mexico', 'Brazil', 'Finland', 'Norway', 'Iceland',
       'Argentina', 'Colombia', 'Poland', 'Israel', 'Indonesia',
       'Afghanistan', 'Philippines'], dtype=object)

**T14)  Get the movies with score above 8.3 and duration less than 2h**

In [35]:
# Write your answer here
movies[(movies['duration']<120) & (movies['imdbScore']>8.3)]

,color,directorName,numCriticForReviews,duration,actor2,gross,genres,actor1,movieTitle,numVotedUsers,...,plotKeywords,imdbLink,numUserForReviews,language,country,contentRating,budget,titleYear,imdbScore,movieFacebookLikes
56,Color,Andrew Stanton,421.0,98.0,Fred Willard,223806889.0,Adventure|Animation|Family|Sci-Fi,John Ratzenberger,WALL·E,718837,...,earth|obesity|plant|robot|soil,http://www.imdb.com/title/tt0910970/?ref_=fn_t...,1043.0,English,USA,G,180000000.0,2008.0,8.4,16000
487,Color,Roger Allers,186.0,73.0,Nathan Lane,422783777.0,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,...,king|prince|scar|uncle|unnecessary guilt,http://www.imdb.com/title/tt0110357/?ref_=fn_t...,656.0,English,USA,G,45000000.0,1994.0,8.5,17000
1988,Color,Steven Spielberg,234.0,115.0,Karen Allen,242374454.0,Action|Adventure,Harrison Ford,Raiders of the Lost Ark,661017,...,archeological dig|archeologist|ark of the cove...,http://www.imdb.com/title/tt0082971/?ref_=fn_t...,771.0,English,USA,PG,18000000.0,1981.0,8.5,16000
2069,Black and White,Alfred Hitchcock,290.0,108.0,Vera Miles,32000000.0,Horror|Mystery|Thriller,Janet Leigh,Psycho,422432,...,money|motel|rain|shower|theft,http://www.imdb.com/title/tt0054215/?ref_=fn_t...,1040.0,English,USA,R,806947.0,1960.0,8.5,18000
2167,Color,Robert Zemeckis,198.0,116.0,Thomas F. Wilson,210609762.0,Adventure|Comedy|Sci-Fi,Lea Thompson,Back to the Future,732212,...,clock tower|delorean|future|time travel|time t...,http://www.imdb.com/title/tt0088763/?ref_=fn_t...,809.0,English,USA,PG,19000000.0,1985.0,8.5,39000
2837,Black and White,Tony Kaye,162.0,101.0,Beverly D'Angelo,6712241.0,Crime|Drama,Ethan Suplee,American History X,782437,...,curb stomping|neo nazi|prison|son dislikes mot...,http://www.imdb.com/title/tt0120586/?ref_=fn_t...,1420.0,English,USA,R,7500000.0,1998.0,8.6,35000
2900,Color,Ridley Scott,392.0,116.0,Yaphet Kotto,78900000.0,Horror|Sci-Fi,Tom Skerritt,Alien,563827,...,alien|creature|future|outer space|spaceship,http://www.imdb.com/title/tt0078748/?ref_=fn_t...,1110.0,English,UK,R,11000000.0,1979.0,8.5,23000
3116,Color,Bryan Singer,162.0,106.0,Chazz Palminteri,23272306.0,Crime|Drama|Mystery|Thriller,Kevin Spacey,The Usual Suspects,740918,...,criminal|dirty cop|flashback|limping|suspect,http://www.imdb.com/title/tt0114814/?ref_=fn_t...,1182.0,English,USA,R,6000000.0,1995.0,8.6,28000
3198,Black and White,Christopher Nolan,274.0,113.0,Thomas Lennon,25530884.0,Mystery|Thriller,Callum Rennie,Memento,845580,...,flashback|memory|murder|short term memory|tele...,http://www.imdb.com/title/tt0209144/?ref_=fn_t...,2067.0,English,USA,R,9000000.0,2000.0,8.5,40000
3274,Color,Darren Aronofsky,234.0,102.0,Mark Margolis,3609278.0,Drama,Ellen Burstyn,Requiem for a Dream,573541,...,addiction|diet pill|drug addiction|fast motion...,http://www.imdb.com/title/tt0180093/?ref_=fn_t...,1916.0,English,USA,R,4500000.0,2000.0,8.4,38000
3323,Color,Ron Fricke,115.0,102.0,Balinese Tari Legong Dancers,2601847.0,Documentary|Music,Collin Alfredo St. Dic,Samsara,22457,...,hall of mirrors|mont saint michel france|palac...,http://www.imdb.com/title/tt0770802/?ref_=fn_t...,69.0,None,USA,PG-13,4000000.0,2011.0,8.5,26000
3370,Color,Damien Chazelle,535.0,107.0,Melissa Benoist,13092000.0,Drama|Music,J.K. Simmons,Whiplash,399138,...,conservatory|drummer|emotional abuse|music sch...,http://www.imdb.com/title/tt2582802/?ref_=fn_t...,731.0,English,USA,R,3300000.0,2014.0,8.5,129000
3555,Black and White,Charles Chaplin,120.0,87.0,Stanley Blystone,163245.0,Comedy|Drama|Family,Paulette Goddard,Modern Times,143086,...,actor director writer|invention|machine|music ...,http://www.imdb.com/title/tt0027977/?ref_=fn_t...,211.0,English,USA,G,1500000.0,1936.0,8.6,0
3584,Color,Quentin Tarantino,173.0,99.0,Steve Buscemi,2812029.0,Crime|Drama|Thriller,Quentin Tarantino,Reservoir Dogs,664719,...,gang|heist|heist gone wrong|nonlinear timeline...,http://www.imdb.com/title/tt0105236/?ref_=fn_t...,931.0,English,USA,R,1200000.0,1992.0,8.4,19000
3705,Color,Marius A. Markevicius,26.0,89.0,Greg Speirs,133778.0,Documentary|Sport,Tommy Sheppard,The Other Dream Team,3086,...,basketball|basketball team|grateful dead|lithu...,http://www.imdb.com/title/tt1606829/?ref_=fn_t...,9.0,English,USA,Not Rated,500000.0,2012.0,8.4,0
3770,Color,Majid Majidi,46.0,89.0,Amir Farrokh Hashemian,925402.0,Drama|Family,Bahare Seddiqi,Children of Heaven,27882,...,class|gardening|race|school|shoe,http://www.imdb.com/title/tt0118849/?ref_=fn_t...,130.0,Persian,Iran,PG,180000.0,1997.0,8.5,0

**T15)  Find the movies directed by Ridley Scott**

Hint: Slicing may be easier for this task; querying is also doable but slightly more difficult

In [36]:
# Write your answer here
movies[movies['directorName']=="Ridley Scott"]

,color,directorName,numCriticForReviews,duration,actor2,gross,genres,actor1,movieTitle,numVotedUsers,...,plotKeywords,imdbLink,numUserForReviews,language,country,contentRating,budget,titleYear,imdbScore,movieFacebookLikes
21,Color,Ridley Scott,343.0,156.0,William Hurt,105219735.0,Action|Adventure|Drama|History,Mark Addy,Robin Hood,211765,...,1190s|archer|england|king of england|robin hood,http://www.imdb.com/title/tt0955308/?ref_=fn_t...,546.0,English,USA,PG-13,200000000.0,2010.0,6.7,17000
155,Color,Ridley Scott,314.0,150.0,María Valverde,65007045.0,Action|Adventure|Drama,Christian Bale,Exodus: Gods and Kings,128682,...,egypt|exodus|moses|pharaoh|plague,http://www.imdb.com/title/tt1528100/?ref_=fn_t...,657.0,English,UK,PG-13,140000000.0,2014.0,6.1,51000
219,Color,Ridley Scott,775.0,124.0,Charlize Theron,126464904.0,Adventure|Mystery|Sci-Fi,Michael Fassbender,Prometheus,456260,...,cave painting|medical scanner|planet|pregnant ...,http://www.imdb.com/title/tt1446714/?ref_=fn_t...,2326.0,English,USA,R,130000000.0,2012.0,7.0,97000
265,Color,Ridley Scott,239.0,194.0,Orlando Bloom,47396698.0,Action|Adventure|Drama|History|War,Liam Neeson,Kingdom of Heaven,217373,...,12th century|crusader|jerusalem|knight|medieva...,http://www.imdb.com/title/tt0320661/?ref_=fn_t...,942.0,English,USA,R,130000000.0,2005.0,7.2,0
268,Color,Ridley Scott,568.0,151.0,Donald Glover,228430993.0,Adventure|Drama|Sci-Fi,Matt Damon,The Martian,472488,...,astronaut|international cooperation|left for d...,http://www.imdb.com/title/tt3659388/?ref_=fn_t...,1023.0,English,USA,PG-13,108000000.0,2015.0,8.1,153000
272,Color,Ridley Scott,265.0,171.0,Connie Nielsen,187670866.0,Action|Drama|Romance,Djimon Hounsou,Gladiator,982637,...,battlefield|blood|combat|gladiator|roman empire,http://www.imdb.com/title/tt0172495/?ref_=fn_t...,2368.0,English,USA,R,103000000.0,2000.0,8.5,21000
279,Color,Ridley Scott,300.0,176.0,Ruby Dee,130127620.0,Biography|Crime|Drama,Denzel Washington,American Gangster,324671,...,death|heroin|popcorn|smuggling|vietnam,http://www.imdb.com/title/tt0765429/?ref_=fn_t...,458.0,English,USA,R,100000000.0,2007.0,7.8,0
319,Color,Ridley Scott,200.0,152.0,Sam Shepard,108638745.0,Drama|History|War,Ioan Gruffudd,Black Hawk Down,292022,...,army|helicopter|somali|somalia|warlord,http://www.imdb.com/title/tt0265086/?ref_=fn_t...,1103.0,English,USA,R,92000000.0,2001.0,7.7,10000
614,Color,Ridley Scott,238.0,128.0,Simon McBurney,39380442.0,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,...,cia|jordan|middle east|spy|terrorist,http://www.imdb.com/title/tt0758774/?ref_=fn_t...,263.0,English,USA,R,70000000.0,2008.0,7.1,0
926,Color,Ridley Scott,97.0,125.0,Demi Moore,48154732.0,Action|Drama|War,Viggo Mortensen,G.I. Jane,60326,...,feminism|hit in the crotch|kicked in the crotc...,http://www.imdb.com/title/tt0119173/?ref_=fn_t...,142.0,English,USA,R,50000000.0,1997.0,5.8,2000
1283,Color,Ridley Scott,37.0,129.0,Jason Marsden,10300000.0,Adventure|Drama,Jeff Bridges,White Squall,17859,...,acrophobia|jamaica|male bonding|prostitute|tra...,http://www.imdb.com/title/tt0118158/?ref_=fn_t...,89.0,English,USA,PG-13,38000000.0,1996.0,6.6,911
1414,Color,Ridley Scott,147.0,117.0,Albert Finney,7458269.0,Comedy|Drama|Romance,Archie Panjabi,A Good Year,70698,...,based on novel|inheritance|provence|uncle|wine,http://www.imdb.com/title/tt0401445/?ref_=fn_t...,196.0,English,USA,PG-13,35000000.0,2006.0,6.9,9000
1542,Color,Ridley Scott,63.0,125.0,Ken Takakura,45645204.0,Action|Crime|Thriller,Stephen Root,Black Rain,39306,...,counterfeit|detective|japan|police chase|yakuza,http://www.imdb.com/title/tt0096933/?ref_=fn_t...,119.0,English,USA,R,30000000.0,1989.0,6.6,0
1658,Color,Ridley Scott,302.0,117.0,Sean Young,27000000.0,Sci-Fi|Thriller,Harrison Ford,Blade Runner,461609,...,artificial intelligence|human android relation...,http://www.imdb.com/title/tt0083658/?ref_=fn_t...,1168.0,English,USA,R,28000000.0,1982.0,8.2,34000
1862,Color,Ridley Scott,336.0,138.0,Brad Pitt,16969390.0,Crime|Drama|Thriller,Michael Fassbender,The Counselor,80861,...,cunnilingus|drug trafficking|lawyer|no panties...,http://www.imdb.com/title/tt2193215/?ref_=fn_t...,431.0,English,USA,R,25000000.0,2013.0,5.3,24000
2900,Color,Ridley Scott,392.0,116.0,Yaphet Kotto,78900000.0,Horror|Sci-Fi,Tom Skerritt,Alien,563827,...,alien|creature|future|outer space|spaceship,http://www.imdb.com/title/tt0078748/?ref_=fn_t...,1110.0,English,UK,R,11000000.0,1979.0,8.5,23000
3295,Color,Ridley Scott,314.0,150.0,María Valverde,65007045.0,Action|Adventure|Drama,Christian Bale,Exodus: Gods and Kings,128694,...,egypt|exodus|moses|pharaoh|plague,http://www.imdb.com/title/tt1528100/?ref_=fn_t...,657.0,English,UK,PG-13,140000000.0,2014.0,6.1,51000

**T16)  Find the movies in which Hugh Jackman played as 1st, 2nd or 3rd actor**

In [37]:
# Write your answer here
movies[(movies['actor1']=='Hugh Jackman') | (movies['actor2']=='Hugh Jackman') | (movies['actor3']=='Hugh Jackman')]

,color,directorName,numCriticForReviews,duration,actor2,gross,genres,actor1,movieTitle,numVotedUsers,...,plotKeywords,imdbLink,numUserForReviews,language,country,contentRating,budget,titleYear,imdbScore,movieFacebookLikes
33,Color,Brett Ratner,334.0,104.0,Kelsey Grammer,234360014.0,Action|Adventure|Fantasy|Sci-Fi|Thriller,Hugh Jackman,X-Men: The Last Stand,383427,...,battle|mutant|outrage|walking through a wall|x...,http://www.imdb.com/title/tt0376994/?ref_=fn_t...,1912.0,English,Canada,PG-13,210000000.0,2006.0,6.8,0
46,Color,Bryan Singer,539.0,149.0,Peter Dinklage,233914986.0,Action|Adventure|Fantasy|Sci-Fi|Thriller,Jennifer Lawrence,X-Men: Days of Future Past,514125,...,dystopia|super strength|supernatural power|tim...,http://www.imdb.com/title/tt1877832/?ref_=fn_t...,752.0,English,USA,PG-13,200000000.0,2014.0,8.0,82000
119,Color,Gavin Hood,350.0,119.0,Ryan Reynolds,179883016.0,Action|Adventure|Fantasy|Sci-Fi|Thriller,Hugh Jackman,X-Men Origins: Wolverine,361924,...,army|civil war|claw fight|commando|wolverine t...,http://www.imdb.com/title/tt0458525/?ref_=fn_t...,641.0,English,USA,PG-13,150000000.0,2009.0,6.7,0
140,Color,David Bowers,135.0,85.0,Kate Winslet,64459316.0,Adventure|Animation|Comedy|Family,Hugh Jackman,Flushed Away,85086,...,boat|frog|rat|sewer|toad,http://www.imdb.com/title/tt0424095/?ref_=fn_t...,122.0,English,UK,PG,149000000.0,2006.0,6.7,0
141,Color,Joe Wright,256.0,111.0,Cara Delevingne,34964818.0,Adventure|Family|Fantasy,Hugh Jackman,Pan,39956,...,1940s|child hero|fantasy world|orphan|referenc...,http://www.imdb.com/title/tt3332064/?ref_=fn_t...,186.0,English,USA,PG,150000000.0,2015.0,5.8,24000
152,Color,Peter Ramsey,256.0,97.0,Kamil McFadden,103400692.0,Adventure|Animation|Family|Fantasy,Hugh Jackman,Rise of the Guardians,123553,...,belief|box office hit|children|new york city|t...,http://www.imdb.com/title/tt1446192/?ref_=fn_t...,174.0,English,USA,PG,145000000.0,2012.0,7.3,25000
202,Color,Bryan Singer,289.0,134.0,Bruce Davison,214948780.0,Action|Adventure|Fantasy|Sci-Fi|Thriller,Hugh Jackman,X-Men 2,405973,...,mutant|prison|professor|school|x men,http://www.imdb.com/title/tt0290334/?ref_=fn_t...,1055.0,English,Canada,PG-13,110000000.0,2003.0,7.5,0
231,Color,James Mangold,440.0,138.0,Tao Okamoto,132550960.0,Action|Adventure|Sci-Fi|Thriller,Hugh Jackman,The Wolverine,328067,...,healing power|marvel comics|mecha|regeneration...,http://www.imdb.com/title/tt1430132/?ref_=fn_t...,533.0,English,USA,PG-13,120000000.0,2013.0,6.7,68000
255,Color,Shawn Levy,327.0,127.0,Torey Michael Adkins,85463309.0,Action|Drama|Sci-Fi|Sport,Hugh Jackman,Real Steel,254841,...,arena|boxing|boxing movie|robot|robot battle,http://www.imdb.com/title/tt0433035/?ref_=fn_t...,426.0,English,USA,PG-13,110000000.0,2011.0,7.1,36000
385,Color,George Miller,206.0,108.0,Hugh Jackman,197992827.0,Animation|Comedy|Family|Music|Romance,Robin Williams,Happy Feet,132501,...,dance|emperor penguin|friend|penguin|song,http://www.imdb.com/title/tt0366548/?ref_=fn_t...,548.0,English,USA,PG,100000000.0,2006.0,6.5,0
464,Color,Dominic Sena,166.0,99.0,Don Cheadle,69772969.0,Action|Crime|Thriller,Hugh Jackman,Swordfish,155532,...,computer|secret agent|terrorism|told in flashb...,http://www.imdb.com/title/tt0244244/?ref_=fn_t...,543.0,English,USA,R,80000000.0,2001.0,6.5,0
504,Color,Bryan Singer,290.0,104.0,Tyler Mane,157299717.0,Action|Adventure|Sci-Fi,Hugh Jackman,X-Men,452928,...,first part|mutant|professor|superhero|superher...,http://www.imdb.com/title/tt0120903/?ref_=fn_t...,1401.0,English,USA,PG-13,75000000.0,2000.0,7.4,0
629,Color,Tom Hooper,488.0,158.0,Eddie Redmayne,148775460.0,Drama|Musical|Romance,Hugh Jackman,Les Misérables,243834,...,barricade|innkeeper|parole|rebellion|student,http://www.imdb.com/title/tt1707386/?ref_=fn_t...,845.0,English,USA,PG-13,61000000.0,2012.0,7.6,144000
987,Color,Neill Blomkamp,371.0,120.0,Sharlto Copley,31569268.0,Action|Crime|Drama|Sci-Fi|Thriller,Hugh Jackman,Chappie,172965,...,artificial intelligence|consciousness|future|m...,http://www.imdb.com/title/tt1823672/?ref_=fn_t...,627.0,English,USA,R,49000000.0,2015.0,6.9,67000
994,Color,James Mangold,125.0,123.0,Natasha Lyonne,47095453.0,Comedy|Fantasy|Romance,Hugh Jackman,Kate & Leopold,64595,...,bridge|brooklyn bridge|falling down an elevato...,http://www.imdb.com/title/tt0035423/?ref_=fn_t...,316.0,English,USA,PG-13,48000000.0,2001.0,6.4,0
1024,Color,Denis Villeneuve,454.0,153.0,Jake Gyllenhaal,60962878.0,Crime|Drama|Mystery|Thriller,Hugh Jackman,Prisoners,383591,...,child abduction|detective|investigation|police...,http://www.imdb.com/title/tt1392214/?ref_=fn_t...,620.0,English,USA,R,46000000.0,2013.0,8.1,86000
1167,Color,Christopher Nolan,341.0,130.0,Hugh Jackman,53082743.0,Drama|Mystery|Sci-Fi|Thriller,Christian Bale,The Prestige,844052,...,illusion|magician|obsession|rivalry|secret,http://www.imdb.com/title/tt0482571/?ref_=fn_t...,1100.0,English,USA,PG-13,40000000.0,2006.0,8.5,49000
1423,Color,Darren Aronofsky,274.0,96.0,Ellen Burstyn,10139254.0,Drama|Sci-Fi,Hugh Jackman,The Fountain,190990,...,eternity|love|mayan|tree|tree of life,http://www.imdb.com/title/tt0414993/?ref_=fn_t...,915.0,English,USA,PG-13,35000000.0,2006.0,7.3,23000
1808,Color,Dexter Fletcher,216.0,106.0,Taron Egerton,15785632.0,Biography|Comedy|Drama|Sport,Hugh Jackman,Eddie the Eagle,32507,...,1988 winter olympics|coach|ski jumper|winter|w...,http://www.imdb.com/title/tt1083452/?ref_=fn_t...,119.0,English,UK,PG-13,23000000.0,2016.0,7.5,15000
1904,Color,Tony Goldwyn,92.0,97.0,Ellen Barkin,27338033.0,Comedy|Romance,Hugh Jackman,Someone Like You...,19709,...,apartment|girl in panties|roommate|thong panti...,http://www.imdb.com/title/tt0244970/?ref_=fn_t...,167.0,English,USA,PG-13,23000000.0,2001.0,6.1,0
1906,Color,Dexter Fletcher,216.0,106.0,Taron Egerton,15785632.0,Biography|Comedy|Drama|Sport,Hugh Jackman,Eddie the Eagle,32513,...,1988 winter olympics|coach|ski jumper|winter|w...,http://www.imdb.com/title/tt1083452/?ref_=fn_t...,119.0,English,UK,PG-13,23000000.0,2016.0,7.5,15000
2833,Color,Elizabeth Banks,180.0,94.0,Kate Winslet,8828771.0,Comedy,Hugh Jackman,Movie 43,79146,...,awkwardness|embarrassment|gross out|irreverenc...,http://www.imdb.com/title/tt1333125/?ref_=fn_t...,352.0,English,USA,R,6000000.0,2013.0,4.3,25000
3287,Color,Joe Wright,256.0,111.0,Cara Delevingne,34964818.0,Adventure|Family|Fantasy,Hugh Jackman,Pan,39975,...,1940s|child hero|fantasy world|orphan|referenc...,http://www.imdb.com/title/tt3332064/?ref_=fn_t...,186.0,English,USA,PG,150000000.0,2015.0,5.8,24000

**T17)  Put the movies into groups depending on their colour and show a summary**

In [38]:
# Write your answer here
movies.groupby('color').describe()

                 numCriticForReviews                                      \
                               count        mean         std   min   25%
color
 Black and White               124.0  165.064516  109.121082  14.0  80.0
Color                         3650.0  165.645479  124.154638   2.0  75.0

                                      duration              ... imdbScore  \
                    50%    75%    max    count        mean  ...       75%
color                                                       ...
 Black and White  149.0  206.0  576.0    124.0  116.274194  ...       7.8
Color             136.0  223.0  813.0   3650.0  109.874795  ...       7.2

                      movieFacebookLikes                                       \
                  max              count         mean           std  min  25%
color
 Black and White  8.9              124.0  6490.056452  15112.656742  0.0  0.0
Color             9.3             3650.0  9343.532877  21637.464837  0.0  0.0


                    50%      75%       max
color
 Black and White    0.0   2250.0  109000.0
Color             229.5  11000.0  349000.0

[2 rows x 72 columns]

**T18) Get all movies that were released between 2005 and 2010, have a rating above 8.0, but have less income than the estimated budget**

In [43]:
# Write your answer here
movies[(movies['titleYear']>=2005) & (movies['titleYear']<=2009) & (movies['gross']<movies['budget']) & (movies['imdbScore']>8.0)]

,color,directorName,numCriticForReviews,duration,actor2,gross,genres,actor1,movieTitle,numVotedUsers,...,plotKeywords,imdbLink,numUserForReviews,language,country,contentRating,budget,titleYear,imdbScore,movieFacebookLikes
3083,Color,José Padilha,142.0,115.0,Fernanda Machado,8060.0,Action|Crime|Drama|Thriller,Wagner Moura,Elite Squad,81644,...,brazil|military police|police|rio de janeiro b...,http://www.imdb.com/title/tt0861739/?ref_=fn_t...,107.0,Portuguese,Brazil,R,4000000.0,2007.0,8.1,11000
3501,Black and White,David Sington,107.0,100.0,Buzz Aldrin,1134049.0,Documentary|History,John F. Kennedy,In the Shadow of the Moon,5475,...,1960s|astronaut|moon|nasa|spacecraft accident,http://www.imdb.com/title/tt0925248/?ref_=fn_t...,44.0,English,UK,PG,2000000.0,2007.0,8.1,0

**T19) Get all movies that were released after 2010 (inclusive), have a rating above 8.0 (exclusive), but made below the 25th percentile in revenue.**

In [40]:
# Write your answer here
percentile25 = movies['gross'].quantile(0.25)
movies[(movies['titleYear']>=2010) & (movies['imdbScore']>8.0) & (movies['gross']<percentile25)]

,color,directorName,numCriticForReviews,duration,actor2,gross,genres,actor1,movieTitle,numVotedUsers,...,plotKeywords,imdbLink,numUserForReviews,language,country,contentRating,budget,titleYear,imdbScore,movieFacebookLikes
3081,Color,Denis Villeneuve,226.0,139.0,Mélissa Désormeaux-Poulin,6857096.0,Drama|Mystery|War,Lubna Azabal,Incendies,80429,...,brother sister relationship|family relationshi...,http://www.imdb.com/title/tt1255953/?ref_=fn_t...,156.0,French,Canada,R,6800000.0,2010.0,8.2,37000
3323,Color,Ron Fricke,115.0,102.0,Balinese Tari Legong Dancers,2601847.0,Documentary|Music,Collin Alfredo St. Dic,Samsara,22457,...,hall of mirrors|mont saint michel france|palac...,http://www.imdb.com/title/tt0770802/?ref_=fn_t...,69.0,None,USA,PG-13,4000000.0,2011.0,8.5,26000
3373,Color,Thomas Vinterberg,349.0,115.0,Alexandra Rapaport,610968.0,Drama,Thomas Bo Larsen,The Hunt,170155,...,deer|gun|gunshot|hunt|kindergarten teacher,http://www.imdb.com/title/tt2106476/?ref_=fn_t...,249.0,Danish,Denmark,R,3800000.0,2012.0,8.3,60000
3630,Color,Joshua Oppenheimer,248.0,96.0,Herman Koto,484221.0,Biography|Crime|Documentary|History,Anwar Congo,The Act of Killing,23836,...,death squad|mass killing|musical number|refere...,http://www.imdb.com/title/tt2375605/?ref_=fn_t...,107.0,Indonesian,UK,Not Rated,1000000.0,2012.0,8.2,20000
3658,Color,Asghar Farhadi,354.0,123.0,Leila Hatami,7098492.0,Drama|Mystery,Shahab Hosseini,A Separation,151812,...,alzheimer's disease|caregiver|divorce|iran|ira...,http://www.imdb.com/title/tt1832382/?ref_=fn_t...,264.0,Persian,Iran,PG-13,500000.0,2011.0,8.4,48000
3705,Color,Marius A. Markevicius,26.0,89.0,Greg Speirs,133778.0,Documentary|Sport,Tommy Sheppard,The Other Dream Team,3086,...,basketball|basketball team|grateful dead|lithu...,http://www.imdb.com/title/tt1606829/?ref_=fn_t...,9.0,English,USA,Not Rated,500000.0,2012.0,8.4,0

**T20) Find out the sum of votes, budget and gross income by year**

In [41]:
# Write your answer here
movies[["titleYear", "numVotedUsers", "budget", "gross"]].groupby('titleYear').sum()

           numVotedUsers        budget         gross
titleYear
1927.0            111841  6.000000e+06  2.643500e+04
1929.0              4546  3.790000e+05  2.808000e+06
1933.0              7921  4.390000e+05  2.300000e+06
1935.0             13269  6.090000e+05  3.000000e+06
1936.0            143086  1.500000e+06  1.632450e+05
...                  ...           ...           ...
2012.0          22741118  7.566431e+09  1.023866e+10
2013.0          22821998  8.355416e+09  1.047177e+10
2014.0          18812088  7.458670e+09  1.021050e+10
2015.0          11997638  7.000195e+09  9.280609e+09
2016.0           3475989  4.489400e+09  5.433912e+09

[74 rows x 3 columns]

**T21) Find out the top ten directors with the highest average score**

In [48]:
# Write your answer here
movies[["directorName", "imdbScore"]].groupby('directorName').mean().sort_values('imdbScore').tail(10)

                   imdbScore
directorName
Richard Marquand    8.400000
Christopher Nolan   8.425000
Sergio Leone        8.433333
Ron Fricke          8.500000
Damien Chazelle     8.500000
Alfred Hitchcock    8.500000
Majid Majidi        8.500000
Charles Chaplin     8.600000
Tony Kaye           8.600000
Akira Kurosawa      8.700000

### Ideas for practicing at home

* Find the average score, budget and gross income of movies in which Liam Neeson played
* Produce a dataset fragment grouped by Language and/or Country
* Any other analysis that you might could generate some useful insight.
* Try to do Practicals 2 and 3 using Pandas